@use "vars" as *;

.container {
  li {
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    span.control {
      cursor: pointer;
      color: $warning-color;
    }
  }
}
