<div class="container">
  <ol type="1">
    @for (annotation of annotations(); track annotation.number) {
      <li>
        <div>
          <span>{{ annotation.text }}</span>
          <span tabindex="0"
                title="Удалить аннотацию"
                class="control"
                (click)="removeAnnotation(annotation.number)"
                (keydown.enter)="removeAnnotation(annotation.number)">[X]</span>
        </div>
      </li>
    }
  </ol>
  <clw-add-annotation (annotationAdd)="addAnnotation($event)"></clw-add-annotation>
</div>
