<div class="container">
  @if (items() && items().length > 0) {
    <ol type="1">
      @for (item of items(); track item.text + item.number; let index = $index) {
        <clw-observer-item [active]="isDragging()" (hovered)="setDraggableItemNumber(index)">
        </clw-observer-item>

        <clw-list-item
          [item]="item"
          [index]="index"
          (itemRemoved)="removeItem($event)"
          (startDragging)="dragStart($event)"
        ></clw-list-item>

        @if (index === items().length - 1) {
          <clw-observer-item [active]="isDragging()" (hovered)="setDraggableItemNumber(index + 1)">
          </clw-observer-item>
        }
      }
      @if (isDragging()) {
        <clw-draggable-item
          [item]="draggableItem()"
          [dragOffset]="dragStartPosition()"
          [mousePosition]="mousePosition()"
        ></clw-draggable-item>
      }
    </ol>
  }
</div>
