@use 'vars' as *;

.container {
  display: flex;
  flex-direction: column;
  margin: $default-margin;

  h1, h2 {
    text-align: center;
  }

  button[type=submit] {
    background-color: $warning-color;
    height: 2rem;
    width: 50%;
    align-self: center;
    margin: $default-margin;
  }
}

