@use "vars" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .container {
    display: block;
    width: 100%;
    max-width: $max-width-list;

    form {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      textarea {
        flex-grow: 1;
      }
    }
  }
}
