@use "vars" as *;

:host {
  display: block;

  .container {
    opacity: 0;

    &.active:hover {
      opacity: 1 !important;
    }

    span {
      display: inline-block;
      width: 100%;
      background-color: rgba(0 0 0 / 10%);
      height: 2px;
    }
  }
}
